<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDR-SDC Website</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/profile.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onload="load()">
    <%- include('_header'); %>
        <div id="heading_background"></div>
        <main class="d-f-r">
            <!-- Profile display section -->
            <div class="d-f" id="profile">
                <div class="d-f-r">
                    <div class="d-f-c">
                        <% if(user.avatar) {%>
                            <img id="profile_photo" src="<%= user.avatar %>">
                            <%} else {%>
                                <img id="profile_photo" src="/imgs/team_members/placeholder.png">
                                <% } %>
                                    <br>
                                    <form action="/user/upload_avatar" method="POST" enctype="multipart/form-data">
                                        <input type="file" name="avatar" placeholder="Update Photo" required>
                                        <br><br>
                                        <input type="submit" value="Upload">
                                    </form>
                    </div>
                    <div id="details">
                        <span class="d-f-r ai-c">
                            <span>Username:</span>
                            &numsp;&numsp;&emsp;
                            <%= user.user %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Name:</span>
                            &emsp;&emsp;&emsp;&emsp;
                            <%= user.name %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Password:</span>
                            &emsp;&emsp;&numsp;
                            <div id="password">
                                <%= user.password %>&numsp;
                            </div>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Department:</span>
                            &numsp;&numsp;
                            <%= user.dept %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Year:</span>
                            &emsp;&emsp;&emsp;&emsp;&numsp;
                            <%= user.year %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Position:</span>
                            &numsp;&numsp;&numsp;&numsp;&numsp;
                            <%= user.position %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Management:</span>
                            &numsp;
                            <% if(user.management) {%>
                                Yes
                                <%} else {%>
                                    No
                                    <% } %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Insta:</span>
                            &numsp;&emsp;&emsp;&numsp;&numsp;&numsp;
                            <%= user.social.insta %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Linkedin:</span>
                            &numsp;&numsp;&numsp;&emsp;
                            <%= user.social.linkedin %>
                        </span>
                        <span class="d-f-r ai-c">
                            <span>Twitter:</span>
                            &numsp;&numsp;&emsp;&emsp;
                            <%= user.social.twitter %>
                        </span>
                    </div>
                </div>
            </div>
            <br><br>

            <!-- Create User (permission level <= 1) -->
            <% if(user.permission <=1) {%>
                <div class="d-f-r jc-c ai-c" id="create_form">
                    <form class="d-f-r" action="/user/create" method="POST">
                        <input class="update_details" type="text" name="user" id="user" placeholder="Username" required>
                        <input class="update_details" type="text" name="name" id="name" placeholder="Name" required>
                        <input class="update_details" type="text" name="password" placeholder="Password" required>
                        <input class="update_details" type="number" name="year" placeholder="Year">
                        <input class="update_details" type="text" name="dept" placeholder="Department">
                        <input type="checkbox" id="management" name="management" value="management">
                        <label for="management">Management</label>
                        <button id="submit">Submit</button>
                    </form>
                </div>
                <% } %>
        </main>

        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
            <script type="text/javascript" src="/js/load.js"></script>
</body>

</html>