<html lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDR-SDC Website</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/team.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
</head>

<body id="body" onload="load()">
    <%- include('_header'); %>
        <main>
            <div id="heading_background"></div>
            <div class="dept">
                <span class="dept_heading">Management</span>
                <span class="dept_description">
                    Rule Rule Rule
                </span>

                <span class="members_list">
                    <% users.forEach(function(user){ %>
                        <% if(user.management==true && user.name !='root' ) {%>
                            <div class="member">
                                <img src="/imgs/team_members/krushnal.jpeg">
                                <div class="member_card">
                                    <span class="member_name">
                                        <%= user.name %>
                                    </span>
                                    <span class="member_position">
                                        <%= user.position %>
                                    </span>
                                    <span class="member_social">
                                        <a href=""><img src="/imgs/icons/instagram.svg"></a>
                                        <a href=""><img src="/imgs/icons/linkedin.svg"></a>
                                        <a href=""><img src="/imgs/icons/twitter.svg"></a>
                                    </span>
                                </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="dept">
                <span class="dept_heading">Autonomous Navigation</span>
                <span class="dept_description">
                    Code Code Code
                </span>

                <span class="members_list">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=="global" && user.name !='root' ) {%>
                            <div class="member">
                                <img src="/imgs/team_members/krushnal.jpeg">
                                <div class="member_card">
                                    <span class="member_name">
                                        <%= user.name %>
                                    </span>
                                    <span class="member_position">
                                        <%= user.position %>
                                    </span>
                                    <span class="member_social">
                                        <a href=""><img src="/imgs/icons/instagram.svg"></a>
                                        <a href=""><img src="/imgs/icons/linkedin.svg"></a>
                                        <a href=""><img src="/imgs/icons/twitter.svg"></a>
                                    </span>
                                </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="dept">
                <span class="dept_heading">Electrical and Electronics Systems</span>
                <span class="dept_description">
                    Circuit Circuit Circuit
                </span>

                <span class="members_list">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='electrical' && user.name !='root' ) {%>
                            <div class="member">
                                <img src="/imgs/team_members/krushnal.jpeg">
                                <div class="member_card">
                                    <span class="member_name">
                                        <%= user.name %>
                                    </span>
                                    <span class="member_position">
                                        <%= user.position %>
                                    </span>
                                    <span class="member_social">
                                        <a href=""><img src="/imgs/icons/instagram.svg"></a>
                                        <a href=""><img src="/imgs/icons/linkedin.svg"></a>
                                        <a href=""><img src="/imgs/icons/twitter.svg"></a>
                                    </span>
                                </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="dept">
                <span class="dept_heading">Mechanical</span>
                <span class="dept_description">
                    Build Build Build
                </span>

                <span class="members_list">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='mechanical' && user.name !='root' ) {%>
                            <div class="member">
                                <img src="/imgs/team_members/krushnal.jpeg">
                                <div class="member_card">
                                    <span class="member_name">
                                        <%= user.name %>
                                    </span>
                                    <span class="member_position">
                                        <%= user.position %>
                                    </span>
                                    <span class="member_social">
                                        <a href=""><img src="/imgs/icons/instagram.svg"></a>
                                        <a href=""><img src="/imgs/icons/linkedin.svg"></a>
                                        <a href=""><img src="/imgs/icons/twitter.svg"></a>
                                    </span>
                                </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="dept">
                <span class="dept_heading">Corporate</span>
                <span class="dept_description">
                    Money Money Money
                </span>

                <span class="members_list">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='corporate' && user.name !="root" ) {%>
                            <div class="member">
                                <img src="/imgs/team_members/krushnal.jpeg">
                                <div class="member_card">
                                    <span class="member_name">
                                        <%= user.name %>
                                    </span>
                                    <span class="member_position">
                                        <%= user.position %>
                                    </span>
                                    <span class="member_social">
                                        <a href=""><img src="/imgs/icons/instagram.svg"></a>
                                        <a href=""><img src="/imgs/icons/linkedin.svg"></a>
                                        <a href=""><img src="/imgs/icons/twitter.svg"></a>
                                    </span>
                                </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
        </main>
        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
            <script type="text/javascript" src="/js/load.js"></script>
</body>

</html>