<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The official website for Team Defianz DTUSDC Racing">
    <meta name="keywords"
        content="TDR-DTUSDC, Team Defianz Racing, DTUSDC, DTU Self-Drving Car, Team Defianz-DTU Self Driving Car Project, Official TDR-DTUSDC Website, Official website">
    <meta name="author" content="Krushnal Patel">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team | TDR-DTUSDC Website</title>
    <link rel="stylesheet" href="/css/common.scss">
    <link rel="stylesheet" href="/css/team.scss">
    <link rel="stylesheet" href="/css/_header.scss">
    <link rel="stylesheet" href="/css/_footer.scss">
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>
</head>

<body id="body" onload="load()">
    <%- include('_header'); %>
        <main>
            <div id="heading_background"></div>
            <div class="d-f-c ai-c">
                <span class="dept_heading">Management</span>
                <span class="dept_description">
                    The conscience
                </span>

                <span class="members_list d-f-r jc-c ai-c">
                    <% users.forEach(function(user){ %>
                        <% if(user.management==true) {%>
                            <div class="member d-f-c jc-c ai-c">
                                <% if(user.avatar) {%>
                                    <img src="<%= user.avatar %>">
                                    <%} else {%>
                                        <img src="/imgs/team_members/placeholder.png">
                                        <% } %>
                                            <div class="d-f-c jc-sb ai-c">
                                                <span class="member_name">
                                                    <%= user.name %>
                                                </span>
                                                <span class="member_position">
                                                    <%= user.position %>
                                                </span>
                                                <span class="member_social">
                                                    <% if(user.social.insta) {%>
                                                        <a href="<%= user.social.insta %>" target="_blank"><img src="/imgs/icons/instagram.svg"></a>
                                                        <% } %>
                                                        <% if(user.social.linkedin) {%>
                                                            <a href="<%= user.social.linkedin %>" target="_blank"><img src="/imgs/icons/linkedin.svg"></a>
                                                            <% } %>
                                                            <% if(user.social.twitter) {%>
                                                                <a href="<%= user.social.twitter %>" target="_blank"><img src="/imgs/icons/twitter.svg"></a>
                                                                <% } %>
                                                </span>
                                            </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="d-f-c ai-c">
                <span class="dept_heading">Autonomous Navigation</span>
                <span class="dept_description">
                    The Brains
                </span>

                <span class="members_list d-f-r jc-c ai-c">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='software' ) {%>
                            <div class="member d-f-c jc-c ai-c">
                                <% if(user.avatar) {%>
                                    <img src="<%= user.avatar %>">
                                    <%} else {%>
                                        <img src="/imgs/team_members/placeholder.png">
                                        <% } %>
                                            <div class="d-f-c jc-sb ai-c">
                                                <span class="member_name">
                                                    <%= user.name %>
                                                </span>
                                                <span class="member_position">
                                                    <%= user.position %>
                                                </span>
                                                <span class="member_social">
                                                    <% if(user.social.insta) {%>
                                                        <a href="<%= user.social.insta %>" target="_blank"><img src="/imgs/icons/instagram.svg"></a>
                                                        <% } %>
                                                        <% if(user.social.linkedin) {%>
                                                            <a href="<%= user.social.linkedin %>" target="_blank"><img src="/imgs/icons/linkedin.svg"></a>
                                                            <% } %>
                                                            <% if(user.social.twitter) {%>
                                                                <a href="<%= user.social.twitter %>" target="_blank"><img src="/imgs/icons/twitter.svg"></a>
                                                                <% } %>
                                                </span>
                                            </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="d-f-c ai-c">
                <span class="dept_heading">Electrical and Electronics Systems</span>
                <span class="dept_description">
                    Nervous System
                </span>

                <span class="members_list d-f-r jc-c ai-c">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='electrical' ) {%>
                            <div class="member d-f-c jc-c ai-c">
                                <% if(user.avatar) {%>
                                    <img src="<%= user.avatar %>">
                                    <%} else {%>
                                        <img src="/imgs/team_members/placeholder.png">
                                        <% } %>
                                            <div class="d-f-c jc-sb ai-c">
                                                <span class="member_name">
                                                    <%= user.name %>
                                                </span>
                                                <span class="member_position">
                                                    <%= user.position %>
                                                </span>
                                                <span class="member_social">
                                                    <% if(user.social.insta) {%>
                                                        <a href="<%= user.social.insta %>" target="_blank"><img src="/imgs/icons/instagram.svg"></a>
                                                        <% } %>
                                                        <% if(user.social.linkedin) {%>
                                                            <a href="<%= user.social.linkedin %>" target="_blank"><img src="/imgs/icons/linkedin.svg"></a>
                                                            <% } %>
                                                            <% if(user.social.twitter) {%>
                                                                <a href="<%= user.social.twitter %>" target="_blank"><img src="/imgs/icons/twitter.svg"></a>
                                                                <% } %>
                                                </span>
                                            </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="d-f-c ai-c">
                <span class="dept_heading">Mechanical</span>
                <span class="dept_description">
                    Skeletal System and Muscles
                </span>

                <span class="members_list d-f-r jc-c ai-c">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='mechanical' ) {%>
                            <div class="member d-f-c jc-c ai-c">
                                <% if(user.avatar) {%>
                                    <img src="<%= user.avatar %>">
                                    <%} else {%>
                                        <img src="/imgs/team_members/placeholder.png">
                                        <% } %>
                                            <div class="d-f-c jc-sb ai-c">
                                                <span class="member_name">
                                                    <%= user.name %>
                                                </span>
                                                <span class="member_position">
                                                    <%= user.position %>
                                                </span>
                                                <span class="member_social">
                                                    <% if(user.social.insta) {%>
                                                        <a href="<%= user.social.insta %>" target="_blank"><img src="/imgs/icons/instagram.svg"></a>
                                                        <% } %>
                                                        <% if(user.social.linkedin) {%>
                                                            <a href="<%= user.social.linkedin %>" target="_blank"><img src="/imgs/icons/linkedin.svg"></a>
                                                            <% } %>
                                                            <% if(user.social.twitter) {%>
                                                                <a href="<%= user.social.twitter %>" target="_blank"><img src="/imgs/icons/twitter.svg"></a>
                                                                <% } %>
                                                </span>
                                            </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
            <div class="dept_end"></div>
            <div class="d-f-c ai-c">
                <span class="dept_heading">Corporate</span>
                <span class="dept_description">
                    The consciousness
                </span>

                <span class="members_list d-f-r jc-c ai-c">
                    <% users.forEach(function(user){ %>
                        <% if(user.dept=='corporate' ) {%>
                            <div class="member d-f-c jc-se ai-c">
                                <% if(user.avatar) {%>
                                    <img src="<%= user.avatar %>">
                                    <%} else {%>
                                        <img src="/imgs/team_members/placeholder.png">
                                        <% } %>
                                            <div class="d-f-c jc-sb ai-c">
                                                <span class="member_name">
                                                    <%= user.name %>
                                                </span>
                                                <span class="member_position">
                                                    <%= user.position %>
                                                </span>
                                                <span class="member_social">
                                                    <% if(user.social.insta) {%>
                                                        <a href="<%= user.social.insta %>" target="_blank"><img src="/imgs/icons/instagram.svg"></a>
                                                        <% } %>
                                                        <% if(user.social.linkedin) {%>
                                                            <a href="<%= user.social.linkedin %>" target="_blank"><img src="/imgs/icons/linkedin.svg"></a>
                                                            <% } %>
                                                            <% if(user.social.twitter) {%>
                                                                <a href="<%= user.social.twitter %>" target="_blank"><img src="/imgs/icons/twitter.svg"></a>
                                                                <% } %>
                                                </span>
                                            </div>
                            </div>
                            <% }}) %>
                </span>
            </div>
        </main>
        <%- include('_footer'); %>
            <script type="text/javascript" src="/js/scroll.js"></script>
            <script type="text/javascript" src="/js/load.js"></script>
</body>

</html>